<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <h1>Bienvenidx, {{ user }}</h1>
    <a href="{{ url_for('add_serie') }}">Añadir Serie</a>
    <a href="{{ url_for('logout') }}">Cerrar sesión</a>

    <hr>
    <h2>Mis series</h2>
    {% for categoria, lista_series in series.items() %}
        <h2>{{ categoria }}</h2>
        {% if lista_series %}
            <ul>
            {% for serie in lista_series %}
                <li>
                    <strong>{{ serie['nombre'] }}</strong><br>
                    Sinopsis: {{ serie['sinopsis'] }}<br>
                    Puntuación: {{ serie['puntuación'] }}<br>
                    Género: {{ serie['género'] }}<br>
                    Fecha de estreno: {{ serie['fecha_estreno'] }}<br>
                    Número de capítulos: {{ serie['número_capítulos'] }}<br>
                    Duración de capítulos: {{ serie['duración_capítulos'] }}
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No hay series en esta categoría.</p>
        {% endif %}
    {% endfor %}
</body>
</html>

