<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <h2>Iniciar Sesión</h2>
    {% if error %}
    	<p style="color: red" >{{ error }}</p>
        <p>Si no estás resgistrado puedes hacerlo aquí abajo</p>
        <a href={{url_for('registrar')}} >Registrar</a>

    {% endif %}
    <form method="post" action="{{url_for('login')}}">
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" placeholder="usuario" required>
        <br><br>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" placeholder="contraseña" required>
        <br><br>
        <button type="submit">Entrar</button>
    </form>
</body>
</html>
