/* Estilo para el banner de cookies */
.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    z-index: 1000;
}

/* Contenedor para los botones, usando Flexbox */
.cookie-banner form {
    display: inline-block;
    margin: 0 10px; /* Espacio entre los botones */
}

/* Estilo para los botones */
.cookie-banner button {
    padding: 10px 20px;
    background-color: #ffcc00;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px; /* Espacio entre los botones */
}

/* Efecto hover para los botones */
.cookie-banner button:hover {
    background-color: #ff9900;
}

/* Estilo para el texto del banner y los enlaces */
.cookie-banner p {
    margin-bottom: 10px;
}

.cookie-banner a {
    color: #ffcc00;
    text-decoration: none;
}

.cookie-banner a:hover {
    text-decoration: underline;
}

img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}


